import(proto)
importFrom("lme4",glmer,lmer,getME,fixef,ranef,VarCorr)
importClassesFrom("lme4",merMod,lmerMod,glmerMod)
importFrom(Matrix, summary)
importFrom("utils",data,packageDescription)
import(cairoDevice)
import(RGtk2Extras)
importFrom("gWidgets",gwindow,ggroup,gframe,gexpandgroup,gtable,ggraphics,gtext,gtoolbar,gaction,ghelp,gbutton,gcheckbox,glabel,gcheckboxgroup,glayout,gcombobox,gmenu,
                      gnotebook,gdf,gpanedgroup,gdfnotebook,gradio,gedit,gseparator,gfile,gstatusbar)
importFrom("gWidgetsRGtk2",gdfedit)
importFrom("grDevices",rgb)
importFrom("lattice",xyplot,qqmath,trellis.par.set,histogram,densityplot,
                     panel.qqmathline,panel.qqmath,panel.superpose,panel.xyplot,panel.text,panel.grid,panel.abline,panel.average,panel.mathdensity,panel.rug,panel.histogram)
importFrom("latticeExtra",layer)
importFrom("MASS",gamma.shape)
importFrom("statmod",qresiduals)
export("R2STATS","r2stats")

